<ion-app>
<ion-content color="primary">
  <!--hello name="{{ name }}"></hello>
  <p>Start editing to see some magic happen :)</p>


  <ion-button>GREAT IONIC BUTnTON</ion-button!-->


    <ion-header>
    <ion-toolbar color="primary">
      <ion-title>NaLUa</ion-title>
    </ion-toolbar>
  </ion-header>




    <ion-img
src="https://img.freepik.com/vetores-premium/astronautas-de-homem-e-mulher-na-lua-com-uma-bandeira-personagens-de-desenhos-animados-bonitos-cosmonauta-superficie-e-espaco-da-lua_177886-48.jpg"
alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img>


<ion-list>
<ion-list-header color="primary">
<ion-label color="">info. do usuario</ion-label>
</ion-list-header>
<ion-item color="tertiary">
<ion-label >id: luizaMcarv005</ion-label>
</ion-item>
<ion-item color="primary">
<ion-label >record: 99999</ion-label>
</ion-item>
</ion-list>

<ion-button color="tertiary" href="https://www.instagram.com/kauaarichard/?next=%2F" >Jogar</ion-button>
  <ion-button slot="ertiary">Fixed Button</ion-button>

</ion-content>
</ion-app>
